# Don't track content of these folders
LINQPad Queries/ETI
LINQPad Plugins\Framework 4.6\MyExtensions.FW46.dll
LINQPad Plugins\Framework 4.6\MyExtensions.FW46.pdb
LINQPad Plugins\Framework 4.6\MyExtensions.FW46.xml